@charset "UTF-8";

html {
	height: 100%
}

body{
	background:#eee;
	height: 100%;
	font-size: 62.5%;
	font-family: 'Lucida grande','Segoe UI','Hiragino Kaku Gothic ProN','Meiryo UI','Meiryo',sans-serif;
	line-height: 1.5;
	letter-spacing: 0.1em;
	overflow: hidden;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	font-size: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.2em;
}

h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 25px;
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 0.1em;
}

canvas{
	position:absolute;
	top:0;
	left:0;
}

/*Info-area*/
.info{
	background: transparent;
	color:rgb(0,122,255);
	padding: 0 0 10px 20px;
	position:absolute; 
	z-index:10;
}

.info a {
	text-decoration: none;
}

.git-btn {
	background-color: rgb(255,100,100);
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 0 #ccc;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin-top: -20px;
	height: 40px;
	width: 200px;
	-webkit-transition: all .15s ease;
	   -moz-transition: all .15s ease;
	    -ms-transition: all .15s ease;
	     -o-transition: all .15s ease;
	        transition: all .15s ease;
}

.git-btn:hover {
	box-shadow: none;
	position: relative;
	top: 1px;
	left: 1px;
}

.info p{
	margin:0 0 .2em;
}

.info h2 {
	text-align: center;
	margin-left: -10px;
	padding-top: 10px; 
}

.info.center{
	background-color: #646464;
	color:#fff;
	margin-top: 30%;
	opacity: 0.8;
	width: 200px;
}
/*==========*/
/*contents-area*/
.img3d {
	position: absolute;
	width: 100%;
	height: 100%;
		-webkit-perspective: 500px;
}

canvas {
	z-index: -1000;
}

.package {
	height: 200px;
	width: 300px;
	margin-top: -150px;
	margin-left: -150px;
	position: absolute;
	top: 50%;
	left: 50%;
}

.img3d img{
	cursor: pointer;
	height: 200px;
	width: 300px;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}

.img3d img:hover {
	-webkit-transform: translate3d(0,-20px,0);
}

.package:after {
	content: '';
	border: 5px solid transparent;
	box-shadow: 0px 100px 20px 0px #adadad;
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	z-index: -100;
}

/*.shadow {
	height: 20px;
	width: 300px;
	-webkit-box-shadow: 0px 30px 30px -4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 30px 30px -4px rgba(0,0,0,0.5);
	box-shadow: 0px 30px 30px -4px rgba(0,0,0,0.5);
}*/
/*==========*/
/*Footer*/
#fix-footer {
	background-color: #555;
	margin-left: -10px;
	height: 50px;
	width: 110%;
	position: absolute;
	bottom: 0;
}

#fix-footer p{
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 0.8rem;
	font-weight: 300;
	letter-spacing: 0.2em;
	padding: 5px 0 0 50px;
}
/*==========*/